.popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear, visibility 1s linear;
}

