.form__button{
  width: 100%;
  min-height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 37px;
}
.form__button:hover{
  opacity: 0.8;
}
@media screen and (max-width: 320px){
  .form__button{
    min-height: 46px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
