.form__item{
  padding: 0;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0,0,0,0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 9px;
}



@media screen and (max-width: 320px){
  .form__item:last-child{
    margin-bottom: 45px;
  }
}
