.form__profile-info{
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-rows: 39px 18px;
  grid-template-columns: 294px 24px;
  row-gap: 16px;
  column-gap: 18px;
}


@media screen and (max-width: 320px){
  .form__profile-info{
    grid-template-rows: 26px 14px;
    grid-template-columns: 282px 18px;
    row-gap: 10px;
    column-gap: 14px;
  }
}
