.form__heading{
  margin: 0;
  padding: 31px 0 51px; /*такие отступы, для того чтобы высота form была корректной*/
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
@media screen and (max-width: 768px){
  .form__heading{
    font-size: calc(18px + (24 - 18) * ( (100vw - 320px) / ( 768 - 320) ));
    line-height: calc(22px + (29 - 22) * ( (100vw - 320px) / ( 768 - 320) ));
  }
}
@media screen and (max-width: 320px){
  .form__heading{
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0 75px ;
  }

}
