.profile__container {
  max-width: 336px;
  margin: 22px auto 25px 0;
  display: grid;
  grid-template-rows: 1fr 18px;
  row-gap: 7px;
}
@media screen and (max-width: 768px) {
  .profile__container {
    margin: 22px auto 25px;
  }
}
@media screen and (max-width: 320px) {
  .profile__container {
    width: 100%;
    margin: 26px 0 36px 0;
    row-gap: 14px;
    grid-template-rows: 26px 14px;
    grid-template-columns: 1fr;
  }
}
