
@font-face {
  src: url('../Inter/Inter-Bold.woff2') format('woff2'),
       url('../Inter/Inter-Bold.woff') format('woff');
  font-family: 'Inter';
}

@font-face {
  src: url('../Inter/Inter-Regular.woff2') format('woff2'),
       url('../Inter/Inter-Regular.woff') format('woff');
  font-family: 'Inter';
}
