.element__delete {
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  grid-area: 1 / 1 / 2 / 1;
  justify-self: end;
  margin: 20px 20px auto auto;
  z-index: 0;
}
.element__delete:hover {
  opacity: 0.6;
}
