
.profile-info__edit-button{
  max-width: 24px;
  min-height: 24px;
  align-self: end;
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-size: 0;
}
.profile-info__edit-button:hover{
  opacity: 0.6;
}
@media screen and (max-width: 480px){
  .profile-info__edit-button{
    max-width: 18px;
    min-height: 18px;
    align-self: center;
  }
}

@media screen and (max-width: 320px){
  .profile-info__edit-button{
    align-self: end;
  }
}
