.profile__job{
  margin: 0;
  color: #fff;
  grid-column: span 2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}
@media screen and (max-width: 768px){
  .profile__job {
    font-size: calc(14px + (18 - 14) * ( (100vw - 320px) / ( 768 - 320) ));
    line-height: calc(17px + (22 - 17) * ( (100vw - 320px) / ( 768 - 320) ));
  }
}
@media screen and (max-width: 320px){
  .profile__job{
      font-size: 14px;
      line-height: 17px;
      text-align: center;
}
}
